@import './reset.css';

* {
  font-family: 'Courier New', Courier, monospace;
}

html {
  background-color: #0f0f0f;
  color: white;
}

body {
  padding: 40px;
}

p {
  margin-top: 16px;
}

h1 {
  color: rgb(225, 29, 72);
}

button {
  background-color: rgba(159, 18, 57, 0.24);
  border: 1px solid rgb(225, 29, 72);
  outline: none;
  color: rgb(225, 29, 72);
  border-radius: 4px;
  padding: 6px 12px;
  transition: all 0.35s ease;
}
button:focus-visible {
  background-color: rgb(225, 29, 72);
  border-color: rgb(255, 241, 242);
  color: rgb(255, 241, 242);
}
button:hover {
  background-color: rgb(225, 29, 72);
  color: rgb(255, 241, 242);
  cursor: pointer;
}
button:active {
  background-color: rgb(244, 63, 94);
}

a {
  display: inline-block;
  margin-top: 40px;
  color: rgb(6, 182, 212);
  text-decoration: none;
  position: relative;
  transition: all 0.35s ease;
}
a:hover {
  color: rgb(103, 232, 249);
}
